In [1]:
# recap from yesterday

3 + 2

5

In [2]:
print("some string")

some string

In [3]:
"this is a string"

'this is a string'

In [4]:
word = "oxygen"

In [5]:
word[0]

'o'

In [6]:
word[1]

'x'

In [7]:
print(word[0])
print(word[1])
print(word[2])
print(word[3])
print(word[4])
print(word[5])

o
x
y
g
e
n

In [12]:
word = "tin"

In [10]:
print(word[0])
print(word[1])
print(word[2])
print(word[3])

n
e
o
n

In [19]:
# loops

word = 'hydrogen'

count = 0
for my_letter in word:
    print(my_letter, "*")
    print("that's the letter")
    count = count + 1
print("Number of letters:", count)

h *
that's the letter
y *
that's the letter
d *
that's the letter
r *
that's the letter
o *
that's the letter
g *
that's the letter
e *
that's the letter
n *
that's the letter
Number of letters: 8

In [20]:
print(len(word))

8

In [24]:
for number in range(10, 20, 2):
    print(number)

10
12
14
16
18

In [25]:
5 * 5

25

In [26]:
5 ** 2

25

In [27]:
5 ** 3

125

In [28]:
5 * 5 * 5

125

In [29]:
1 * 5* 5 * 5

125

In [30]:
1 * 5 * 5 * 5 * 5

625

In [31]:
3 ** 4

81

In [ ]:
1 * 3 * 3 * 3 * 3

In [33]:
for number in range(3):
    print(number)

0
1
2

In [36]:
result = 1
base = 5
exponent = 3
for number in range(exponent):
    print(number)
    result = result * base
print("the result is:", result)

0
1
2
the result is: 125

In [37]:
5 ** 3

125

In [53]:
newstring = ""
name = "12345"
for words in name:
    newstring = newstring + "*A*" + words
    print(words)
print(newstring)

1
2
3
4
5
*A*1*A*2*A*3*A*4*A*5

In [40]:
"notweN"
"a" + "b"

'ab'

In [41]:
my_string3 = "x"

In [42]:
my_string3 = "a" + my_string3

In [43]:
print(my_string3)

ax

In [44]:
my_string3 = "f" + my_string3

In [45]:
print(my_string3)

fax

In [57]:
odds1 = 1
odds2 = 3
odds3 = 5
odds4 = 7
odds5 = 9

In [58]:
print(odds1)
print(odds2)
print(odds3)
print(odds4)
print(odds5)

1
3
5
7
9

In [59]:
# lists

odds = [1, 3, 5, 7, 9]

In [60]:
len("oxygen")

6

In [61]:
len(odds)

5

In [62]:
print(odds[0])

1

In [63]:
print(odds[2])

5

In [64]:
print(odds[-1])

9

In [67]:
new_oxygen = "oxygen"

In [68]:
for element in odds:
    print(element)

1
3
5
7
9

In [69]:
names = ['Curie', 'Darwin', 'Turing']

In [70]:
print('names list is:', names)

names list is: ['Curie', 'Darwin', 'Turing']

In [71]:
names[1] = 'Charles'

In [72]:
print('names list is now:', names)

names list is now: ['Curie', 'Charles', 'Turing']

In [73]:
darwin = 'Charles'
darwin[6] = 'y'

TypeError: 'str' object does not support item assignment

In [74]:
darwin = 'Charley'

In [75]:
print(darwin)

Charley

In [76]:
names

['Curie', 'Charles', 'Turing']

In [77]:
namezzz = names

In [78]:
print(namezzz)

['Curie', 'Charles', 'Turing']

In [79]:
names[0] = 'Mark'

In [80]:
print(names)

['Mark', 'Charles', 'Turing']

In [81]:
print(namezzz)

['Mark', 'Charles', 'Turing']

In [83]:
namezzz[0]

'Mark'

In [84]:
# converting between ints and strings

a_number = "24"
print(a_number[0])

2

In [85]:
a_number * 5

'2424242424'

In [86]:
a_number = int(a_number)
a_number * 5

120

In [87]:
print(a_number[0])

TypeError: 'int' object is not subscriptable

In [88]:
a_number = str(a_number)
print(a_number[0])

2

In [89]:
# This is a helpful comment